*::before,
*::after {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "DM Sans", sans-serif;
  font-feature-settings: "kern";
  background: linear-gradient(to bottom, rgb(240, 215, 228), rgb(240, 215, 228)), url("https://images.unsplash.com/photo-1596487162379-fbab6c590a42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  background: linear-gradient(to bottom, rgba(56, 13, 35, 0.8), rgba(56, 13, 35, 0.6)), url("https://images.unsplash.com/photo-1517559421643-54bc2e32021c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 88px;
}
.hero .navbar {
  padding: 8px;
  font-family: "DM Sans", sans-serif;
}
.hero .navbar .navbar-brand .navbar-item-title {
  font-size: 34px;
  font-size: 2.125rem;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 800;
  color: #e8f1ff;
}
.hero .navbar .navbar-menu .navbar-start .navbar-item {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 450;
  color: #cfe1ff;
  margin-left: 14px;
  margin-right: 14px;
}
.hero .hero-body {
  padding-left: 40px;
  padding-right: 40px;
}
.hero .hero-body .title {
  font-size: 63px;
  font-size: 3.9375rem;
  line-height: 1.1587301587;
  letter-spacing: normal;
  font-weight: 700;
  color: #e8f1ff;
}
.hero .hero-body .subtitle {
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: normal;
  font-weight: 400;
  color: #cfe1ff;
  margin-top: 32px;
  max-width: 550px;
}

hr {
  border: 0;
  border-top: 1px solid #7782a0;
}

.material-icons {
  padding-top: 8px;
  padding-bottom: 8px;
}
.material-icons-md-18 {
  font-size: 18px;
}
.material-icons-md-24 {
  font-size: 24px;
}
.material-icons-md-36 {
  font-size: 36px;
}
.material-icons-md-48 {
  font-size: 48px;
}
.material-icons-md-68 {
  font-size: 68px;
}
.material-icons-md-88 {
  font-size: 88px;
}

.perusahaan,
.galeri {
  padding: 80px;
}
.perusahaan .title,
.galeri .title {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 2.2857142857;
  letter-spacing: normal;
  font-weight: 600;
  color: #e8f1ff;
}
.perusahaan .subtitle,
.galeri .subtitle {
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: normal;
  font-weight: 400;
  color: #cfe1ff;
}

.perusahaan {
  background: linear-gradient(to bottom, rgba(240, 215, 228, 0), rgba(240, 215, 228, 0.5)), url("https://images.unsplash.com/photo-1554232456-8727aae0cfa4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.galeri {
  background: linear-gradient(to bottom, rgba(240, 215, 228, 0), rgba(240, 215, 228, 0.5)), url("https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-overview,
.overview {
  background: linear-gradient(to bottom, rgb(240, 215, 228), rgb(240, 215, 228)), url("https://images.unsplash.com/photo-1596487162379-fbab6c590a42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;
  padding: 80px;
}
.product-overview .title,
.overview .title {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.6;
  letter-spacing: normal;
  font-weight: 700;
  color: #07003b;
}
.product-overview .subtitle,
.overview .subtitle {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: normal;
  font-weight: 500;
  color: #7782a0;
}

.material-icons {
  color: #3c50e0;
  margin: 0 auto;
}

.overview .card .title {
  font-size: 34px;
  font-size: 2.125rem;
  line-height: 1.2941176471;
  letter-spacing: normal;
  font-weight: 700;
  color: #07003b;
}
.overview .card .subtitle {
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: normal;
  font-weight: 300;
  color: #7782a0;
}

.call-to-action {
  display: inline-block;
  background: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  margin: 0.2rem;
  font-family: "DM Sans", sans-serif;
}
.call-to-action-primary {
  position: relative;
  transition: 0.3s;
  background: #3c50e0;
  box-shadow: 0 0 0.625rem 0.125rem rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 14px 30px;
  color: #ffffff;
  font-weight: 450;
}
.call-to-action-primary:hover {
  background: #5264e3;
  color: #ffffff;
}
.call-to-action-secondary {
  position: relative;
  transition: 0.3s;
  background: #ffffff;
  box-shadow: 0 0 0.625rem 0.125rem rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 14px 30px;
  color: #3c50e0;
  font-weight: 450;
}
.call-to-action-secondary:hover {
  background: #f2f2f2;
  color: #3c50e0;
}

/*# sourceMappingURL=index.css.map */
